
.side-navbar {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            height: 80px;
            width: 90px;
            background-color: #4b4747;
            border-top: 1px solid white;
            text-align: center;
            img {
                width: 30px;
                margin-top: 15px;
            }
            span {
                display: block;
                color: white;
            }
        }
    }
}