<div class="side-navbar">
    <ul>
        <li *ngFor="let navitem of navItems"><a href="{{navitem.link}}">
            <img src="{{navitem.src}}">
            <span>{{navitem.name}}</span>
            </a>
        </li>
    </ul>
</div>