
.info-bar {
    background-color: #4b4747;
}

// mabliz logo
.brand {
    padding: 10px 20px;
    float: left;
}

.logo {
    margin-left: 10px;
}

.logo-image {
    img {
        width: 40px;
    }
}
// notification bell
.notify {
    float: right;
}

.bell {
    margin: 20px 30px 0 0;
    img {
        width: 25px;
    }
}

// vendor
.vendor {
    min-width: 25%;
    max-width: 50%;
    float: right;
    padding: 10px;
    background-color: #d3dd49;
    display: flex;
    box-shadow: 0px 0px 10px #333;
}


.vendor-logo {
    margin-right: 10px;
    img {
        width: 40px;
    }
}

.vendor-text {
    h4 {
        font-weight: 400;
        margin: 0;
    }
    h5 {
        font-weight: 400;
        color: white;
        margin: 0;
    }
}

.onoff {
    margin: 10px 40px 0 auto;
}