<div class="info-bar clearfix">
    <div class="brand">
        <div class="logo">
            <div class="logo-image">
                <img src = "../../assets/image/logo.png">
            </div>
        </div>
    </div>

    <div class="vendor">
        <div class="vendor-logo">
            <img src="../../assets/image/logo.png">
        </div>
        <div class="vendor-text">
            <h4 class="vendor-name">{{vendor.name | titlecase}}</h4>
            <h5 class="vendor-position">{{vendor.position | titlecase}}</h5>
        </div>
        <div class="onoff">
            <button class="btn btn-primary">on</button>
        </div>
    </div>
    
    <div class="notify">
        <div class="bell">
            <img src="../../assets/image/bell.png">
        </div>
    </div>
</div>
