.main-content {
    display: flex;
    position: relative;
    top: 0;
}
//category
.category {
    h5 {
        margin: 0;
        background-color: #4b4747;
        color: white;
        padding: 5px;
        font-weight: 400;
    }
    .categories {
        height: 40%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto;
        li {
            background-color: white;
            margin: 0;
            border-bottom: 1px solid #4b4747;
            button {
                font-weight: 500;
                outline: none;
                background-color: white;
                text-align: left;
                background-color: none;
                border: none;
                width: 100%;
                &:hover {
                    background-color: #cecece;
                }
            }
            a {
                padding: 5px;
                color: black;
                text-decoration: none;
            }
            &:hover {
                background-color: #cecece;                
            }
        }
    }
    .subcategories {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            margin: 0px 0px 0px 10px;
        }
    }
}

//product details
.product-details {
    overflow: hidden;
    h5 {
        margin: 0 0 10px 0;
        background-color: #4b4747;
        color: white;
        padding: 5px;
        font-weight: 400;
        width: 100%;
    }
    h6 {
        margin: 0;
    }

    .products {
        overflow: auto;
        height: 40%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: 90px;
        grid-gap: 10px;
    }
    .product {
        height: minmax(90px, auto);
        padding: 5px;
        background-color: white;
    }
    .mark {
        margin: 0 5px 0 0;
        vertical-align: top;
        display: inline-block;
    }
    .product-info {
        display: inline-block;
    }

    .price-details {
        color: #999;
    }

    .price {
        margin-right: 10px;
        display: inline-block;
    }
    .discounted-price {
        display: inline-block;
    }
    .controls {
        float: right;
        margin-top: 40px;
        button {
            font-size: 12px;
            padding: 0px 15px;
            border: 1px solid #a1c20c;
        }
        a {
            display: block;
            text-decoration: none;
            color: #a1c20c;
        }
        .customize {
            font-size: 9px;
        }
    }
}

//order and billing details
.order-billing {
    display: flex;
    flex-direction: column;
}

// order block
.order {
    background-color: white;
    height: 26%;
    overflow: hidden;
    h5 {
        margin: 0 0 10px 0;
        background-color: #4b4747;
        color: white;
        padding: 5px;
        font-weight: 400;
        width: 100%;
    }
    h6 {
        margin: 0;
    }
    .products {
        height: 85%;
        overflow: auto;
    }
    //ordered product
    .ordered-product {
        display: block;
        padding: 5px;
        border-bottom: 00.5px solid black;
        .mark {
            margin: 0 5px 0 0;
            vertical-align: top;
        }
    }
    //ordered-product-info
    .ordered-product-info {
        display: inline-block;
    }
    //ordered price-details
    .price-details {
        .discount-mark,
        .price,
        .discounted-price {
            display: inline-block;
            margin-right: 5px;
        }
    }
    //customer notes
    .customer-notes {
        p {
            color: #a1c20c;
            font-size: 12px;
        }
    }
    // quantity contrle
    .quantity-controls {
        float: right;
        vertical-align: top;
        button, span {
            font-size: 15px;
            display: inline-block;
            margin-right: 5px;
            padding: 0px 5px;
            border: 0.5px solid black;
            border-radius: 50%;
        }

        button {
            background-color: white;
            font-size: 16px;
            outline: none;
            border: none;
        }
    }
}
//billing
.billing {
    margin-top: 80px;
    h5 {
        background-color: #4b4747;
        color: white;
        padding: 5px;
        font-weight: 400;
        margin: 0;
    }
    table {
        background-color: white;
        width: 100%;
    }
    td {
        padding: 5px;
    }

    .value {
        text-align: right;
    }
    tfoot {
        border-top: 1px solid black;
    }
    .bill-controls {
        margin: 5px 0px 0px 5px;
        button {
            display: inline-block;
            margin-right: 5px;
            padding: 5px 20px;
            border: 0;
            outline: none;
            background-color: #00ffea;
            &:hover {
                background-color: darken(#00ffea, 20%);
            }
        }
    }
}

.hide {
    display: none;
}

.popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.400);
}


.taking-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 400px;
    background-color: #e7e5e5;
    hr {
        margin: 0;
    }
    .item {
        background: white;
        margin-bottom: 10px;
        img {
            margin: 5px;
        }
        .grade-mark {
            vertical-align: top;
        }
        .grade-mark,.item-discription {
            display: inline-block;
        }
        .item-name {
            font-size: 18px;
            font-weight: 500;
        }
        .item-rating {
            display: block;
            font-size: 16px;
            color: #444;
        }
    }
    .addOn {
        background-color: white;
        margin-bottom: 5px;
        padding: 10px;

        img {
            margin-right: 5px;
        }
        .addOn-items {
            padding-top: 10px;
        }
        .addon-item-name {
            display: inline-block;
            img,span {
                display: inline-block;
            }
        }
        .addon-item-control {
            float: right;
            span {
                margin-right: 5px;
            }
        }
    }
    .kitchen-notes{
        padding: 10px;
        background-color: white;

        ul,li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .notes {
            padding: 10px 0;
        }
        li {
            input {
                float: right;
            }
        }
        .taking-order-controls {
            button{
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                background-color: #990a0a;
                color: white;
                width: 100%;
                outline: none;
                border: 0;
            }
        }
    }
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 250px;
    background-color: #e7e5e5;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    input {
        text-align: center;
        height: 80px;
        width: 100%;
        background-color: white;
    }
    .text-box-control {
        display: flex;
        margin-top: 10px;
        :first-child {
            margin-right: 5px;
        }
    }

    button {
        width: 100%;
        background-color: #cc0303;
        color: white;
        border: none;
        outline: none;
    }
}