<div class="main-content">
    <app-side-navbar></app-side-navbar>
    <div class="content container-fluid py-3">
        <!-- category column -->
        <div class="row">
            <div class="category col-md-2">
                <h5>categories</h5>
                <ul class="categories">
                    <li *ngFor="let category of categories" >
                        <button (click) ="toggleclass(category.name,'subcategories')"><a href="{{category.link}}">{{category.name}}</a></button>
                        <ul class="subcategories hide" id="{{category.name}}">
                        <li *ngFor = "let subcategory of category.subcategories">
                            <button><a href="{{subcategory.link}}">{{subcategory.name}}</a></button>
                        </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- product-details column -->

            <div class="product-details col-md-7 px-0">
                <h5>Product Details</h5>
                <div class= "products">
                    <div class = "product" *ngFor="let product of products">
                        <img class="mark"src="../../assets/image/non_veg_mark.jpg">
                        <div class="product-info">
                            <h6>{{product.name}}</h6>
                            <div class="price-details">
                                <h6 class="price"><s>{{product.price | currency:"INR"}}</s></h6>
                                <h6 class="discounted-price">{{product.discounted | currency:"INR"}}</h6>
                            </div>
                        </div>
                        <div class="controls">
                            <button (click) ="toggleclass('AddProduct','popup')">Add</button><!--<a href="{{product.link}}">Add</a>-->
                            <a class="customize" href="#">Customize</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- order and billing -->
            <div class="order-billing col-md-3">
                <!-- order -->
                <div class="order">
                    <h5>Order Details</h5>
                    <div class="products">
                        <div class="ordered-product" *ngFor="let product of products">
                            <img class="mark" src="../../assets/image/non_veg_mark.jpg">
                            <div class="ordered-product-info">
                                <h6>{{product.name}}</h6>
                                <div class="price-details">
                                    <img class="discount-mark" src="../../assets/image/discount_logo_mini.png">
                                    <h6 class="price"><s>{{product.price | currency:"INR"}}</s></h6>
                                    <h6 class="discounted-price">{{product.discounted | currency:"INR"}}</h6>
                                </div>
                                <div class="customer-notes">
                                    <p># {{product.notes}}</p>
                                </div>
                            </div>
                            <div class="quantity-controls">
                                <button>-</button>
                                <span>{{product.quantity}}</span>
                                <button>+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- billing -->
                <div class="billing">
                    <h5>Bill Details</h5>
                    <div class="bill-details">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Item Total</td>
                                    <td class="value">{{ "890" | currency:"INR"}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Charge</td>
                                    <td class="value">{{ "50" | currency:"INR"}}</td>
                                </tr>
                                <tr>
                                    <td>Taxex & Charges <img src="../../assets/image/info_logo_mini.png"></td>
                                    <td class="value">{{ "107" | currency:"INR"}}</td>
                                </tr>
                                <tr>
                                    <td>Coupon Saving</td>
                                    <td class="value">-</td>
                                </tr>
                                <tr>
                                    <td>Rider Gift</td>
                                    <td class="value">ADD</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="value">{{"1057" | currency:"INR"}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="bill-controls">
                            <button class="btn btn-primary">Cancel</button>
                            <button class="btn btn-primary" (click) ="toggleclass('AddText','popup')">Hold</button>
                            <button class="btn btn-primary">Payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup hide" id="AddProduct">
        <div class="taking-order">
            <div class="item">
                <img class="grade-mark" src="../../assets/image/non_veg_mark.jpg"/>
                <div class="item-discription">
                    <span class="item-name">Checken Briyani</span>
                    <span class="item-rating"><img src="../../assets/image/discount_logo_mini.png"> No Ratings</span>
                </div>
            </div>
            <div class="addOn">
                <h5 class="addon-title">Add On</h5>
                <hr>
                <div class="addOn-items">
                    <div class="addon-item-name">
                        <img src="../../assets/image/non_veg_mark.jpg">
                        <span class="addOn-product">Mayo</span>
                    </div>
                    <div class="addon-item-control">
                        <span class="addOn-product-price">{{'1' | currency: "INR"}}</span>
                        <input type="checkbox" name="addon-check" id="addon-check">
                    </div>
                </div>
            </div>
            <div class="kitchen-notes">
                <h5 class="kitcken-notes-title">Kitchen Notes</h5>
                <hr>
                <ul class="notes">
                <li>
                    <label for="Extra-Roast">Extra Roast</label>
                    <input type="checkbox" name="Extra-Roast" id="Extra-Roast">
                </li>
                <li>
                    <label for="Extra-Roast">Extra Roast</label>
                    <input type="checkbox" name="Extra-Roast" id="Extra-Roast">
                </li>
                <li>
                    <label for="Extra-Roast">Extra Roast</label>
                    <input type="checkbox" name="Extra-Roast" id="Extra-Roast">
                </li>  
                </ul>
                <div class="taking-order-controls">
                    <button (click) ="toggleclass('AddProduct','popup')">DISMISS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup hide" id="AddText">
        <div class="text-box">
            <input type="text" placeholder="Enter Quantity">
            <div class="text-box-control">
                <button (click) ="toggleclass('AddText','popup')">Cancel</button>
                <button>Add</button>
            </div>
        </div>
    </div>
</div>